ion-content {
    --background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    text-align: center;
    color: white;
  }
  
  ion-card-title {
    font-size: 1.5rem;
    color: white;
  }
  
  ion-item {
    --background: transparent;
    --color: white;
  }
  
  ion-label {
    --color-focused: #61dafb;
    --color: white;
  }
  
  ion-input {
    --placeholder-color: #aaaaaa;
    color: white;
  }
  
  ion-button {
    --background: #28a745;
    --border-radius: 20px;
    width: 100%;
    margin-top: 10px;
  }
  
  ion-footer {
    ion-toolbar {
      --background: #1e1e1e;
      color: white;
    }
    ion-button {
      --background: #61dafb;
      margin-right: 20px;
    }
  }
  